@tailwind base;
@tailwind components;
@tailwind utilities;

 /* @media (width <= 600px) {
  body{
    background-image: url(./test.jpeg);
    height: 100vh;
    background-size: fit-content;
  }  
}  */